@charset "utf-8";

/*
* @name: 字体、颜色/通用
* @description: 如下各模块注释
* @author: author-name(szhengjie@126.com)
* @update: 2019-3-4 16:30
*/


/* 颜色表 */


/* 黑白 */

.col-fff {
	color: #fff;
}

.col-000 {
	color: #000;
}

.col-31 {
	color: #313131;
}

.col-333 {
	color: #333;
}


/* 灰 */

.col-70 {
	color: #707070;
}

.col-a0 {
	color: #a0a0a0;
}

.col-aaa {
	color: #aaaaaa;
}

.col-c9 {
	color: #c9c9c9;
}

.col-43 {
	color: #434343;
}


/* 主题色 */

.col-00a0e9 {
	color: #00a0e9;
}


/* 字体大小 */

.small-font {
	font-size: .11rem;
	-webkit-transform-origin-x: 0;
	-webkit-transform: scale(0.90);
}

.fs-10 {
	font-size: .1rem;
}

.fs-11 {
	font-size: .11rem;
}

.fs-12 {
	font-size: .12rem;
}

.fs-13 {
	font-size: .13rem;
}

.fs-135 {
	font-size: .135rem;
}

.fs-14 {
	font-size: .14rem;
}

.fs-15 {
	font-size: .15rem;
}

.fs-16 {
	font-size: .16rem;
}

.fs-18 {
	font-size: .18rem;
}

.fs-20 {
	font-size: .2rem;
}

.fs-24 {
	font-size: .24rem;
}

.fs-30 {
	font-size: .3rem;
}

.fs-50 {
	font-size: .5rem;
}


/* 字体粗细 */

.fw-4,
.fwN {
	font-weight: normal;
}

.fw-7,
.fw-6 {
	font-weight: bold;
}


/*行高*/

.lh-20 {
	line-height: .2rem;
}

.lh-24 {
	line-height: .24rem;
}

.lh-27 {
	line-height: .27rem;
}

.lh-36 {
	line-height: .36rem;
}

.lh-40 {
	line-height: .4rem;
}


/* margin */

.mb-5 {
	margin-bottom: .05rem;
}

.mb-8 {
	margin-bottom: .08rem;
}

.mb-10 {
	margin-bottom: .1rem;
}

.mb-15 {
	margin-bottom: .15rem;
}

.mb-20 {
	margin-bottom: .2rem;
}

.mb-25 {
	margin-bottom: .25rem;
}

.mb-30 {
	margin-bottom: .3rem;
}

.mb-50 {
	margin-bottom: .5rem;
}

.mr-5 {
	margin-right: .05rem;
}

.mr-10 {
	margin-right: .1rem;
}

.mr-17 {
	margin-right: .17rem;
}

.mr-20 {
	margin-right: .2rem;
}

.mr-24 {
	margin-right: .24rem;
}

.mr-38 {
	margin-right: .38rem;
}

.mr-50 {
	margin-right: .5rem;
}

.mt-15 {
	margin-top: .15rem;
}

.mt-20 {
	margin-top: .2rem;
}


/* 对齐方式 */

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.aic {
	align-items: center;
}

.jcSb,
.jc-space-around {
	justify-content: space-between;
}

.vam {
	vertical-align: middle;
}

.df {
	display: flex;
}

.dis-inline,
.dis-i {
	display: inline;
}

.dis-block {
	display: block;
}
