@charset "utf-8";

/* 
* @name: 税收流程样式
* @description: 如下各模块注释
* @author: author-name(szhengjie@126.com)
* @update: 2019-3-4 16:00
*/

/*颜色表*/
.col-eb6400 {
	color: #eb6400;
}

.col-e43947 {
	color: #e43947;
}

.col-717bea {
	color: #717bea;
}

.col-da3741 {
	color: #da3741;
}

/* padding */
.pd-5 {
	padding: .05rem 0;
}

.pd-10 {
	padding: .10rem 0;
}

.pd-15 {
	padding: .15rem 0;
}

.pd-20 {
	padding: .2rem 0;
}

.w100 {
	width: 100%;
}

/*flex布局*/
.dis-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

/*border*/
.border-n {
	border: none !important;
}

.border-b {
	border-bottom: 1px solid #d2d2d2;
}

/* 通用head */
.tc {
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
}

.tc .title {
	width: 100%;
	height: .6rem;
	background-blend-mode: normal, normal;
	padding: .08rem .24rem;
}

.tc .title img {
	width: .44rem;
	margin-right: .1rem;
}

.tc .title .Btit {
	font-size: .18rem;
	margin: -0.05rem 0 0.05rem;
}

.tc .content {
	background-color: #fff;
	padding: .2rem;
	padding-bottom: .6rem;
}

.tc5 .content,
.tc6 .content {
	padding: .1rem .15rem .3rem .15rem;
}

.tc .content .conBox {
	padding: .1rem .05rem;
	border-radius: 5px;
	border: solid 1px #a0a0a0;
}

.tc7 .title {
	background-image: linear-gradient(0deg,
		#3282da 0%,
		#599ee9 100%),
		linear-gradient(#516eea,
		#516eea);
}

.tc7 .content {
	padding: .1rem .15rem .3rem .15rem;
}

/* nav */
.tc .nav,
.tc .next {
	width: 100%;
	height: 100%;
}

.tc .nav img {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 1.24rem;
}

.tc .next img {
	position: fixed;
	bottom: .06rem;
	right: .15rem;
	z-index: 1;
	height: .36rem;
}
